PORT=5000
MONGO_URI=mongodb+srv://purefashionsclothing_db_user:namanisatmongodb@cluster0.xtonpqr.mongodb.net/?appName=Cluster0
JWT_SECRET=ipl2025secretkey$#@naman
STRIPE_SECRET_KEY=sk_test_your_stripe_key_here
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret
CLIENT_URL=http://localhost:3000
